.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 3rem;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    font-size: 35px;
    padding-bottom: 20px;
    padding-top:5px
}

.Padding {
    padding-top: 30px;
}

.loginBox {
    border: 3px solid;
    padding: 20px;
    border-radius: 25px;
    border-color: #ffdb00;
}

.textBox {
    border: 3px solid;
    padding: 5px;
    border-radius: 25px;
    border-color: #74b4e3;
    height: 40px;
    width: 250px;
}

.textButton {
    font-size: x-large;
    font: bold;
    padding-top:5px;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    background-color: #47aa66;
    height: 50px;
    width: 175px;
}

.logowrap {
    display: flex;
    flex-direction: row;
}

.image {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.nestedDiv {
    flex-grow: 2;
    position: relative;
    width:300px;
    height: 309px;  
    margin-top: 30px;
    align-items: left;
}

.divSpacing {
    flex-grow: 1;
}

.LoginText {
    text-align: center;
}

.loginTextFont {
    font-size:60px;
    font: optional;
}

.loginwrap {
    border: 3px solid;
    border-radius: 25px;
    border-color: #f49b00;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.loginpadding {
    padding: 10px;
    padding-left: 240px;
    padding-right: 200px;
}